<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div class='login'>
                <form action="/admin/login" method='post'>
                    <div class="form-input">
                        <label for="">Email</label>
                        <input name='email' class='u-full-width' type="text" placeholder='email'/>
                    </div> 
                    <div class="form-input">
                        <label for="">Password</label>
                        <input name='password' class='u-full-width' type="password" placeholder='password'/>
                    </div>
                    <input class='u-full-width button-primary' type="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>