<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/main.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav-container">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 49" width='18%'>
  <defs>
    <style>
      .a {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 1.4px;
      }

      .b {
        fill: #fff;
      }
    </style>
  </defs>
  <title>logo-nav-small</title>
  <g>
    <circle class="a" cx="23.3" cy="23.3" r="22.84"/>
    <path class="b" d="M1907.53,505.1a1.1,1.1,0,0,1,.77.23,0.79,0.79,0,0,1,.26.61,0.84,0.84,0,0,1-.2.57,0.67,0.67,0,0,1-.53.23,0.72,0.72,0,0,1-.26-0.06,0.4,0.4,0,0,1-.21-0.17,1.33,1.33,0,0,0-.32.64,4,4,0,0,0-.08.8,2.37,2.37,0,0,0,.28,1.11,2.8,2.8,0,0,0,.8.93,4.25,4.25,0,0,0,1.25.64,5.11,5.11,0,0,0,1.62.24,4.54,4.54,0,0,0,2.55-.69,5.42,5.42,0,0,0,1.69-1.77,8,8,0,0,0,.93-2.39,12.88,12.88,0,0,0,.31-2.53,16.56,16.56,0,0,1,.39-3.55,8.93,8.93,0,0,1,1-2.68,4.94,4.94,0,0,1,1.69-1.7,4.46,4.46,0,0,1,2.32-.6,3,3,0,0,1,1.91.57,1.78,1.78,0,0,1,.73,1.48,1.22,1.22,0,0,1-.5,1.07,2,2,0,0,1-1.19.36,3.4,3.4,0,0,0,.37-0.73,2.77,2.77,0,0,0,.12-0.89,1.46,1.46,0,0,0-.47-1.19,1.68,1.68,0,0,0-1.11-.39,3,3,0,0,0-1.48.34,3.14,3.14,0,0,0-1,.94,5.11,5.11,0,0,0-.68,1.4,12.62,12.62,0,0,0-.41,1.7q-0.16.9-.23,1.85t-0.14,1.89a11.47,11.47,0,0,1-.81,3.79,7.08,7.08,0,0,1-1.61,2.39,5.39,5.39,0,0,1-2.13,1.24,8.34,8.34,0,0,1-2.42.36,5,5,0,0,1-1.83-.32,4.33,4.33,0,0,1-1.43-.89,3.85,3.85,0,0,1-.92-1.34,4.43,4.43,0,0,1-.32-1.71,2.21,2.21,0,0,1,.36-1.29A1.09,1.09,0,0,1,1907.53,505.1Z" transform="translate(-1892.05 -479.78)"/>
  </g>
</svg>

            </div>
            
                <ul>
                    <li scroll-to='services'><a href="">services</a></li>
                    <li scroll-to='work'><a href="">Cinema</a></li>
                    <li scroll-to='clients'><a href="">Clients</a></li>
                    {{!-- <li scroll-to='testimonials'><a href="">testimonials</a></li> --}}
                    <li scroll-to='contact'><a href="">Contact</a></li>
                </ul>
           
        </div>
    </div>

    
    <div class="hero">
        <div class="vertical-center">
            <div>
                <h5 class='text-center display-pre'>LUXURY CINEMATOGRAPHY</h5>
                <h1 class='display-text text-center'>One Of A Kind</h1>
            </div>
        </div>
    </div>
    <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>We Are The Best</h6>
            <h1 class='display-text-2'>Literally & Figuratively</h1>
        </div>
    </div>

    <div class='breathe' id='services'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="three columns text-center">
                    <h5 class='display-text-sm'>MUSIC VIDEOS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">

                    <h5 class='display-text-sm'>WEDDINGS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                   
                    
                    <h5 class='display-text-sm'>COMMERCIALS</h5>
                    <p>Get yourself recognized with our out of the box music video production.</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
                <div class="three columns text-center">
                    <h5 class='display-text-sm'>REAL ESTATE</h5>
                    <p>Get yourself recognized with our out of the box music video production..</p>
                    <a href="" class='learn-more-link text-right'>Learn More</a>
                </div>
            </div>
        </div>



        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    <div class='dark text-center breathe section'>
        <div>
            <h6 class="display-text-2-pre">one of the world's most</h6>
            <h1 class="display-text-2">internationally & critically acclaimed</h1>
        </div>
    </div>
    <div class='breathe' id='work'>
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="container">
            <div class="row">
                <div class="six columns text-center  offset-by-three">
                    <h1 class="display-text-2">Curated For You</h1>
                    <p class='mt-1'>We carefully, meticulously craft our films into a beautiful story unique to our couple that can be cherished for friends, family & future generations to come</p>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="five columns">
                    <div class="img-placeholder">
                        <img src="https://images.unsplash.com/photo-1537047908097-9762af977206?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" width='100%' alt="">
                    </div>
                </div>
                <div class="six columns">
                    <h5 class='display-text-2-pre'>Latest & Greatest</h5>
                    <h1  class='display-text-2'>Cutting Edge Equipment</h1>
                    <br />
                    <p class="line-height-3">
                        We offer the use of top of the line video and broadcasting equipment to ensure our client's films are on par with, or better in most circumstances than industry standard hollywood films.
                    </p>
                    <br />
                    <a href="" class="btn btn-primary">VIEW Our Work Now</a>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="six columns">
                    <h5 class='display-text-2-pre'>Industry experience</h5>
                    <h1 class='display-text-2'>Masterful Technique</h1>
                    <br />
                    <p class='line-height-3'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi dolorem libero incidunt delectus qui beatae optio animi, dignissimos nulla tempore facere deleniti error nisi, quisquam laborum impedit sapiente a voluptates.</p>
                    <br />
                    <a href="" class="btn btn-primary">See More</a>
                </div>
                <div class="five columns">
                    <div class="img-placeholder"></div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
      <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>check out some of</h6>
            <h1 class='display-text-2'>our work</h1>
        </div>
    </div>
    <div id="work" class="breathe">
        <div class="container">
        <div class="row">
                {{#each videos}} 
                    <div class="three columns">
                                            <div class="video">
                        <div class="video-thumbnail video-preview" vimeo-id={{link}}>
                            <img src='https://images.unsplash.com/photo-1584847229569-c80f5bd78cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80' width='100px' height='100px' alt="">
                        </div>
                    </div>
                    <h6>
                        <a href='/videos/{{returnVimeoId link}}'}}>{{name}}</a>
                        {{pictures}}
                    </h6>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
      <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>check out some of</h6>
            <h1 class='display-text-2'>our fantastic clients</h1>
        </div>
    </div>
    <div id="clients" class='breathe'>
        <div class="row">
            <div class="twelve columns">

            </div>
        </div>
    </div>
    <div id="testimonials" class='breathe'>
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h1>Testimonials</h1>
                </div>
            </div>
        </div>
    </div>

          <div class="dark text-center breathe section">
        <div>
            <h6 class='display-text-2-pre'>contact us now</h6>
            <h1 class='display-text-2'>currently booking for 2020</h1>
            <br />
            <a href="" class="btn btn-primary">Book Now</a>
            
        </div>
    </div>
    <div id="contact" class='breathe'>
        <br />
        <br />    
        <div class="container">
            <div class="row">
                <div class="twelve columns text-center">
                                <h1 class='display-text-2'>Book Us Now</h1>
                                <p class=''>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, molestias?</p>
  
                </div>
            </div>
                <br />
                <br />
                <br />
                <br />
            <div class="row">
                <div class="four columns offset-by-one">
                    <img src="https://images.unsplash.com/photo-1563339037-84fb4e623969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="" width='100%'>
                </div>
                <div class="six columns offset-by-one">
                    <form action="">
                        <div class="row">
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">First Name</label>
                                    <input class="u-full-width" type="text" placeholder='first name'/>
                                </div>
                            </div>
                            <div class="six columns">
                                <div class="form-input">
                                    <label for="">Last Name</label>
                                    <input class="u-full-width" type="text" placeholder='last name'/>
                                </div>
                            </div>
                            <div class="twelve columns">
                                <div class="form-input">
                                    <label for="">Email</label>
                                    <input class="u-full-width" type="email" placeholder='email' />
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Type</label>
                                        <select class="u-full-width" type="text" placeholder='first name'>
                                            <option value="">Wedding</option>
                                            <option value="">Bar/Bat Mitzvah</option>
                                            <option value="">Sweet Sixteen</option>
                                            <option value="">Anniversary</option>
                                            <option value="">Elopement</option>
                                            <option value="">Engagement</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Date</label>
                                        <input class="u-full-width" type="date" placeholder='first name'/>
                                    </div>
                                </div>
                                <div class="four columns">
                                    <div class="form-input">
                                        <label for="">Location</label>
                                        <input class="u-full-width" type="text" placeholder='Event Location'/>
                                    </div>
                                </div>
                            </div>
                            <div class="twelve columns">
                                                                <div class='form-input'>
                                    <label for="">Other Details</label>
                                    <textarea class="u-full-width" type="submit" placeholder='message'></textarea>
                                </div>
                                <div class="form-input">
                                    <input class="button-primary u-full-width"  type="submit"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer breathe">

    </div>
    <div class="copyright">
        <div class="container">
            <span>Designed By <b class='text-primary'>SUPERIOR CREATIVITY - WEB/BRANDING</b></span>
        </div>
    </div>

    {{!-- <iframe src="https://player.vimeo.com/video/384155730" width='400px' height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> --}}
 

    <script src="https://player.vimeo.com/api/player.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js'></script>
    <script src='/js/main.js'></script>
</body>
</html>