body {
  padding: 0px;
  margin: 0px;
  font-family: Futura;
  background-color: #1C1C1C;
  color: white;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 13px;
  color: #9B9B9B;
}

h1.display-text {
  text-transform: uppercase;
  letter-spacing: .6rem;
  font-size: 52px;
}

.display-pre {
  font-size: 1rem;
  letter-spacing: .3rem;
}

.display-text-2 {
  font-size: 29px;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin: .2rem 0px;
}

.display-text-2-pre {
  text-transform: uppercase;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  font-weight: 300;
  opacity: .4;
  color: white;
}

.display-text-sm {
  font-size: 14px;
  letter-spacing: .4rem;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero .vertical-center {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #101010;
  padding-bottom: 2rem;
  min-height: 100px;
  height: 500px;
}

.copyright {
  background-color: #000000;
  padding: 2rem 0px;
  font-size: 1.1rem;
}

.copyright span {
  opacity: .5;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out all;
  transition: .3s ease-in-out all;
}

.copyright span:hover {
  opacity: 1;
}

.learn-more-link {
  color: #FFC400;
  text-decoration: none;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-size: 1.3rem;
  width: 100%;
}

.learn-more-link:hover {
  color: #FFC400;
}

.breathe {
  padding: 2rem 0px;
}

.line-height-3 {
  line-height: 3rem;
}

.nav {
  height: 80px;
}

.nav.fixed {
  position: fixed;
  background-color: black;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.39);
  width: 100%;
  z-index: 99999;
}

.nav .logo {
  cursor: pointer;
}

.nav .logo.returning-to-top .a {
  stroke: #FFC400;
}

.nav .logo.returning-to-top .b {
  fill: white;
}

.nav .logo .a {
  stroke: #2d2d2d;
  -webkit-transition: .6s ease-in-out all;
  transition: .6s ease-in-out all;
}

.nav .logo .b {
  fill: #FFC400;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav .logo:hover .a {
  stroke: #FFC400;
}

.nav .logo:hover .b {
  fill: white;
}

.nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.nav.alt {
  background-color: black;
}

.nav.scrolling {
  position: fixed;
  width: 100%;
  z-index: 99999;
  background-color: black;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.nav ul li {
  display: inline;
  margin: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .4rem;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
}

.nav ul li a:hover {
  color: #FFC400;
}

.nav ul li a.active {
  color: #FFC400;
}

@media (max-width: 500px) {
  .logo {
    width: 50%;
  }
}

.btn {
  padding: 1rem 2.5rem;
  border: 1px solid #FFC400;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: bold;
  font-family: open sans;
  display: inline-block;
  margin-bottom: 1rem;
}

.btn:hover {
  color: #FFC400;
}

.text-primary {
  color: #FFC400;
}

.img-placeholder {
  width: 100%;
  height: 300px;
  background-color: #292929;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-placeholder.left-clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
}

@media (max-width: 500px) {
  .img-placeholder.left-clip {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.img-placeholder.right-clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
}

@media (max-width: 500px) {
  .img-placeholder.right-clip {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.img-placeholder img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 292px;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.dark {
  color: white;
  background-color: rgba(255, 255, 255, 0.01);
}

.form-input {
  margin-bottom: 1rem;
}

.form-input label {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

.form-input input:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  border: none;
  background-color: rgba(16, 16, 16, 0.490196);
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0);
  height: auto;
}

.form-input select {
  background-color: rgba(16, 16, 16, 0.490196);
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 1.2rem;
  padding: 1.8rem 2rem;
}

.form-input input {
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(16, 16, 16, 0.490196);
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  height: auto;
  padding: 1.8rem 2rem;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
}

@media (max-width: 500px) {
  .form-input input {
    font-size: 16px;
  }
}

.form-input input:focus {
  border-color: #FFC400;
}

.form-input input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form-input input:-ms-input-placeholder {
  text-transform: capitalize;
}

.form-input input::-ms-input-placeholder {
  text-transform: capitalize;
}

.form-input input::placeholder {
  text-transform: capitalize;
}

.form-input textarea {
  border: 1px solid rgba(0, 0, 0, 0.9);
  background-color: rgba(16, 16, 16, 0.490196);
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  max-width: 100%;
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
}

@media (max-width: 500px) {
  .form-input textarea {
    font-size: 16px;
  }
}

.form-input textarea:focus {
  border-color: #FFC400;
}

.form-input textarea::-webkit-input-placeholder {
  text-transform: capitalize;
}

.form-input textarea:-ms-input-placeholder {
  text-transform: capitalize;
}

.form-input textarea::-ms-input-placeholder {
  text-transform: capitalize;
}

.form-input textarea::placeholder {
  text-transform: capitalize;
}

.form-input input[type='submit'] {
  background-color: #060606;
  border: 1px solid transparent;
  padding: 0px;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

.form-input input[type='submit']:hover {
  background-color: #FFC400;
  color: black;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #FFC400;
}

.video {
  position: relative;
}

.video .overlay {
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video .video-thumbnail {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.video .video-thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.description-p {
  line-height: 2.3rem;
}

.service-container {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-container .full-service {
  background-image: url("https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  position: relative;
}

.service-container .full-service .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-container .full-service .overlay .inner {
  padding: 1.6rem;
}

.breadcrumb {
  height: 50px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding: 0px;
}

.breadcrumb .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb li {
  display: inline;
  font-size: .94rem;
  letter-spacing: .1rem;
  padding-right: 3rem;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 0px;
}

.breadcrumb li.active {
  color: #FFC400;
}

.breadcrumb li a {
  text-decoration: none;
  color: white;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
}

.breadcrumb li a:hover {
  color: #FFC400;
}

.breadcrumb li:not(.active):after {
  content: '>';
  margin-left: 1.5em;
}

.breadcrumb ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.breadcrumb ul li {
  display: inline;
  padding-right: 3rem;
  text-transform: uppercase;
  font-size: .94rem;
  letter-spacing: .1rem;
}

.breadcrumb ul li:not(.active):after {
  content: '>';
  margin-left: 1.5rem;
}

.breadcrumb ul li.active {
  color: #FFC400;
}

.mt-1 {
  margin-top: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FFC400;
}

@media (max-width: 500px) {
  .logo {
    width: 40%;
  }
  .nav-inner {
    display: none;
  }
  .section {
    height: 150px;
  }
  .display-text-2 {
    font-size: 20px;
  }
  h1.display-text {
    font-size: 45px;
  }
}
/*# sourceMappingURL=main.css.map */